<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 30%;">Username</th>
                <th style="width: 30%;">Active roles</th>
                <th style="width: 30%;"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <th>{{user.username}}</th>
                <th>{{user.roles}}</th>
                <th><button class="btn btn-info" (click)="openRolesModal(user)">Edit Roles</button></th>
            </tr>
        </tbody>
    </table>
</div>
